/* Variables */
$primary-color: #f7f2ed;
$secondary-color: #b07e50;
$accent-color: #103c3b;
$hero-background-color: #efe5dc;
$background-color: #ffffff;
$text-color: #000000;
$muted-color: #6c757dbb;
$table-color-odd: #f0e7dd;
$table-color-even: #e8dacc;

$header-font: "Martel", serif;
$body-font: "Roboto", sans-serif;
$alternate-font: "Overpass", sans-serif;
